<div class="card">
  <div class="card-header font-semibold">
    {{ article.title }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Descrizione</h5>
    <p class="card-text">{{ article.description }}</p>
    <div class="d-grid gap-2">
      <button (click)="onAddLike()" class="btn btn-outline-success">
        <i class="bi bi-hand-thumbs-up"></i>
      </button>
      <button (click)="onRemoveLike()" class="btn btn-outline-danger">
        <i class="bi bi-hand-thumbs-down"></i>
      </button>
    </div>
    <p>
      Total: <span>{{ likes }}</span>
    </p>
  </div>
</div>
